.fon_movement {
    background-color: rgb(163, 245, 153);
    border-radius: 35px;
    height: 200px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
.table_text {
    font-size: 300%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(106, 255, 7);
}

.deck {
    margin: 1%;
    margin-top: 1.5%;
    position: absolute;
    display: block;
    width: 100px;
    height: 150px;
    background-color: teal;
    background-size: 100px 150px;
    border-radius: 10px;
    background-image: url(../img/cards_fon.png);
}

.take_card {
    right: 0px;
    margin: 1%;
    margin-top: 1.5%;
    margin-right: 55px;
    position: absolute;
    display: block;
    width: 100px;
    height: 150px;
    background-color: teal;
    background-size: 100px 150px;
    border-radius: 10px;
    background-image: url(../img/cards_fon.png);
}
.card {
    margin: 1%;
    margin-top: 1.5%;
    position: absolute;
    display: block;
    width: 100px;
    height: 150px;
    background-color: teal;
    background-size: 100px 150px;
    border-radius: 10px;
}

.fon_action_button {
    text-align: center;
}

.action_button {
    display: inline-block;
    width: 400px;
    height: 60px;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px 1px;
    background-color: turquoise;
    text-align: center;
    font-size: 300%;
    color: blue;
}
.action_button:hover {
    background-color: rgb(111, 230, 218);
}
.action_button:active {
    background-color: rgb(51, 20, 161);
}


.card_choosen {
    margin: 1%;
    margin-top: 1.5%;
    position: absolute;
    display: block;
    width: 100px;
    height: 150px;
    background-color: teal;
    background-size: 100px 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 10px;
}

.button_start {
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px 1px;
    background-color: turquoise;
    text-align: center;
    font-size: 500%;
    color: blue;
}
.button_start:hover {
    background-color: rgb(111, 230, 218);
}
.button_play:active {
    background-color: rgb(25, 9, 83);
}

.game_result_message {
    width: 600px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px 1px;
    text-align: center;
    font-size: 300%;
    background-color: green;
}



.bal_viewer {
    font-family: fantasy;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: blue;
    font-size: 40px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px 1px;
}
.slider {
    font-family: fantasy;
    background-color: blueviolet;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px 1px;
}






a:hover {
    color: yellow;
}
