body {
    background-image: url(../img/fon.jpg); /* Путь к фоновому рисунку */
    background-position: left bottom; /* Положение фона */
    background-repeat: repeat-y; /* Повторяем фон по горизонтали */
}

h1 {
    text-align: center;
}

.titleText {
    font-size: 700%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: yellow;
}


.fon1 {
    margin-top: 50px;
    width: 1400px;
    margin: auto;
    height: 1000px;
}


.fon_movement {
    background-color: rgb(163, 245, 153);
    border-radius: 35px;
    height: 200px;
    width: 100%;
    margin: auto;
}


.card {
    margin: 1%;
    margin-top: 1.5%;
    position: absolute;
    display: block;
    width: 100px;
    height: 150px;
    background-color: teal;
    background-size: 100px 150px;
}

.button_start {
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px 1px;
    background-color: turquoise;
    text-align: center;
    font-size: 500%;
    color: blue;
}
.button_start:hover {
    background-color: rgb(111, 230, 218);
}





.button_play:hover {
    background: rgb(80, 109, 235);
}
.button_play:active {
    background: rgb(12, 25, 80);
}

A.link_button_play {
    text-decoration: none;
}


a:hover {
    color: yellow;
}





















.footer {
    text-align: center;
    font-size: 120%;
    margin: auto;
    width: 1300px;
    height: 30px;
    background-color: rgb(133, 219, 215);
    margin-top: 11%;
}